.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    /* Push to bottom if flex container */
    padding-top: 2rem;
    /* Space from content */
}

.footer-content {
    background-color: var(--blue);
    color: white;
    padding: 0.5rem 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    /* Bold for the domain */
}

.footer-content a:hover {
    text-decoration: underline;
}