@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /*===== COLORS =====*/
  --white: #fff;
  --black: #222222;
  --dark-blue: #274266;
  --purple: #637efe;
  --blue: #148cfb;
  --gray: #8d949b;

  /*===== TEXT =====*/
  --title-size: 800;
  --subtitle-size: 500;
  --text-size: 400; 

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue); /* Default button color from mockups? */
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

